<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
      </button>
      <a href="{{ url_for('index') }}" class="navbar-brand">
        <img src="{{ url_for('static', filename='images/platzi.png') }}" alt="Platzi Logo" style="max-width: 40px">
      </a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if current_user.is_authenticated %}
          <li>
            <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
          </li>
        {% endif %}
        <li>
          <a href="{{ url_for('index') }}">Inicio</a>
        </li>
        <li>
          <a href="https://platzi.com" target="_blank">Platzi</a>
        </li>
      </ul>
    </div>
  </div>
</div>